﻿@page "/"
@using Microsoft.AspNetCore.Mvc.Rendering
@namespace TC.TimeSheet.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gestione ore</title>
    <base href="/"/>

    <link rel="icon" href="/dist/img/timesheet-48.png" asp-append-version="true" type="image/png" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" asp-append-version="true">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" asp-append-version="true">
    <!-- daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css" asp-append-version="true">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css" asp-append-version="true">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" asp-append-version="true">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" asp-append-version="true">
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" asp-append-version="true">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css" asp-append-version="true">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css" asp-append-version="true">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" asp-append-version="true">
    
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  
    <app>
      @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

</div>
<script src="_framework/blazor.server.js" asp-append-version="true"></script>
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<!-- Select2 -->
<script src="/plugins/select2/js/select2.full.min.js" asp-append-version="true"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js" asp-append-version="true"></script>
<!-- InputMask -->
<script src="/plugins/inputmask/jquery.inputmask.bundle.js" asp-append-version="true"></script>
<script src="/plugins/moment/moment.min.js" asp-append-version="true"></script>
<!-- date-range-picker -->
<script src="/plugins/daterangepicker/daterangepicker.js" asp-append-version="true"></script>
<!-- bootstrap color picker -->
<script src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" asp-append-version="true"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.js" asp-append-version="true"></script>

<script src="/plugins/sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>

<script src="/dist/js/demo.js" asp-append-version="true"></script>
<script src="/plugins/chart.js/Chart.min.js" asp-append-version="true"></script>
<script src="/dist/js/timesheetMonthlyChart.js" asp-append-version="true"></script>

<script>

    function initDateTimeRangePicker(){
        
        setTimeout(function(){
            //Date range picker
                    $('#reservation').daterangepicker();
                    //Date range picker with time picker
                    $('#reservationtime').daterangepicker({                      
                      timePicker: true,
                      timePicker24Hour: true,
                      timePickerIncrement: 30,
                      locale: {
                        format: 'MM/DD/YYYY hh:mm A'
                      }
                    }).on('show.daterangepicker', function (ev, picker) {
                                  picker.container.find(".calendar-table").hide();
                              });
                
                    console.log("datetimerangepicker initialized ", $('#reservation').length);
        }, 500);
        
        return true;
    }

  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2({
      theme: 'bootstrap4'
    });

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask();

    
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    );

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    });
    
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox();

    //Colorpicker
    $('.my-colorpicker1').colorpicker();
    //color picker with addon
    $('.my-colorpicker2').colorpicker();

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });
  })
  
  var closeDialog = function(dialogId){
      
      $('#' + dialogId).modal('hide'); 
           
      return true;
    };
    
    var showDialog = function(dialogId){
      
      $('#' + dialogId).modal('show'); 
           
      return true;
    };
  
    var initDatePicker = function(datePickerId){
      
       $('#' + datePickerId).daterangepicker({                      
                            timePicker: false, 
                            singleDatePicker: true,                                                       
                            locale: {
                              format: 'DD MMMM YYYY',
                              monthNames: [
                                          "Gennaio",
                                          "Febbraio",
                                          "Marzo",
                                          "Aprile",
                                          "Maggio",
                                          "Giugno",
                                          "Luglio",
                                          "Agosto",
                                          "Settembre",
                                          "Ottobre",
                                          "Novembre",
                                          "Dicembre"
                                      ]
                            }});
       
       $('#' + datePickerId).on('apply.daterangepicker', function(ev, picker) {
           //DotNet.invokeMethodAsync('TC.TimeSheet.Web', 'TimesheetCreate');
        //$('#' + datePickerId).trigger('change');
        DotNet.invokeMethodAsync("TC.TimeSheet.Web", "UpdateDate", $('#' + datePickerId).val())          
       });
       
       return true;
      
    };
    
    var toggleDatePicker = function(datePickerId){
      
      $('#' + datePickerId).data('daterangepicker').toggle();
      
      return true;
    };
    
    var collapseNavMenu = function(){
       
      if($(window).width() < 765)
        new PushMenu().collapse();
    };        
    
     var Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000
        });
    
     var toastSuccess = function(model){
       
       Toast.fire(model);
       
       return true;
     };     
    
</script>
</body>
</html>