@page "/customers"

@inherits CustomerComponent

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Clienti</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <NavLink href="/">Home</NavLink>
                        </li>
                        <li class="breadcrumb-item active">Clienti</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- /.col (left) -->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Elenco</h3>
                            <div class="card-tools">
                                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">

                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th style="width: 50px">Nome</th>
                                    <th>Tariffa</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var customerModel in _customers)
                                {
                                    <tr>
                                        <td>@customerModel.Name</td>
                                        <td>@($"{customerModel.AmountPerHour} €/Ora")</td>
                                        <td style="text-align: right">
                                            <a href="javascript:void(0)" class="text-muted"
                                               @onclick="@(() => RemoveCustomerItem(customerModel.Id))">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                                </tbody>
                            </table>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col (right) -->
            </div>
        </div>
    </section>
</div>

<CustomerCreate OnCustomerCreated="OnCustomerCreated"/>
<CustomerItemRemoveDialog @ref="_ctrlCustomerItemRemoveDialog" OnCustomerItemRemoved="OnCustomerItemRemoved"/>