﻿@page "/"

@inherits IndexPage

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Gestione ore</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <NavLink href="/">Home</NavLink>
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <TimesheetMonthlyGraph></TimesheetMonthlyGraph>
            </div>

            <div class="row">
                <!-- /.col (left) -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Ultimi movimenti</h3>

                            <div class="card-tools">

                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Data</th>
                                        <th>Ore</th>
                                        <th>Stato</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var model in TimesheetReadModels)
                                    {
                                        <tr>
                                            <td>
                                                @model.CustomerName
                                            </td>
                                            <td>
                                                @model.FromTo
                                            </td>
                                            <td>
                                                @model.Hours
                                            </td>
                                            <td>
                                                <span class="badge badge-success">Evaso</span>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col (right) -->
            </div>
        </div>
    </section>
</div>