@page "/timesheet"

@inherits TimesheetPage

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Orari</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <NavLink href="/">Home</NavLink>
                        </li>
                        <li class="breadcrumb-item active">Orari</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- /.col (left) -->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <select class="form-control" style="width: 200px;margin-left: 10px;display: inline-block" @bind="@SelectedYearMonthId">
                                @foreach (var model in YearMonthModels())
                                {
                                    <option value="@(model.Id)" selected="@(model.Id == SelectedYearMonthId)">@(model.DisplayText)</option>
                                }
                            </select>
                            <div class="card-tools">
                                <div class="card-tools">
                                    <button type="submit" @onclick="@CreateTimesheet" class="btn btn-default" data-toggle="modal" data-target="#modal-create-timesheet">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th style="width: 50px">Cliente</th>
                                    <th>Data</th>
                                    <th>Totale ore</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var timesheetReadModel in _timesheetReadModels)
                                {
                                    <tr>
                                        <td>@timesheetReadModel.CustomerName</td>
                                        <td>@timesheetReadModel.FromTo</td>
                                        <td>@timesheetReadModel.Hours</td>
                                        <td>
                                            <div>
                                                @if (timesheetReadModel.Paid)
                                                {
                                                    <div style="float: left; margin-right: 5px">
                                                        <a href="javascript:void(0)" class="text-muted">
                                                            <i class="fas fa-euro-sign"></i>
                                                        </a>
                                                    </div>
                                                }
                                                <div>
                                                    <a href="javascript:void(0)" class="text-muted"
                                                       @onclick="@(() => RemoveTimesheetItem(timesheetReadModel.Id))">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                }

                                </tbody>
                            </table>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col (right) -->
            </div>
        </div>
    </section>
</div>

<TimesheetCreate @ref="_ctrlTimesheetCreate" OnTimesheetCreated="OnTimesheetCreated"/>
<TimesheetItemRemove @ref="_ctrlTimesheetItemRemove" OnTimesheetItemRemoved="OnTimesheetItemRemoved"/>