@using System.Globalization
@using Microsoft.AspNetCore.Components
@using TC.TimeSheet.Web.Data.EF
@using TC.TimeSheet.Web.Data.Entities
@using TC.TimeSheet.Web.Models

@inject IJSRuntime _jsRuntime
@inject TimesheetEntities _timesheetEntities
@inject TimesheetState TimesheetState

<div class="modal fade" id="modal-create-timesheet">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aggiungi ore</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" @onclick="@(ShowDatePicker)">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" @onchange="@OnDateChanged" readonly="readonly"
                               style="background-color: white" class="form-control float-right" id="ctrlDatePicker"/>
                    </div>
                </div>

                <div class="form-group">
                    <select class="form-control" style="display: inline-block" @bind="@_timesheetCreateModel.CustomerId">
                        <option selected="@(string.IsNullOrWhiteSpace(_timesheetCreateModel.CustomerId))" value="">Seleziona cliente</option>
                        @foreach (var customer in _customers)
                        {
                            <option selected="@(_timesheetCreateModel.CustomerId == customer.Id.ToString())"
                                    value="@customer.Id">
                                @(customer.Name)
                            </option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" min="07:00" max="20:00" class="form-control"
                           placeholder="Ore" @bind-value="@_timesheetCreateModel.Hours"/>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" @bind="@_timesheetCreateModel.Paid">
                    <label class="form-check-label" for="exampleCheck1">Pagato</label>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" @onclick="Cleanup">Annulla</button>
                <button type="button" class="btn btn-primary" @onclick="Save">Salva</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@code{

    [Parameter]
    public EventCallback<string> OnTimesheetCreated { get; set; }

    private static TimesheetCreateModel _timesheetCreateModel;

    private List<(Guid Id, string Name)> _customers = new List<(Guid Id, string Name)>();

    protected override async Task OnInitializedAsync()
    {
        Cleanup();
    }

    [JSInvokable]
    public static Task<bool> UpdateDate(string date)
    {
        var selectedDate = DateTime.Parse(date);

        _timesheetCreateModel.Date = selectedDate.ToString("yyyyMMdd");

        return Task.FromResult(true);
    }

    private async void Save()
    {
        var timesheet = new TimesheetItem
        {
            Hours = (decimal) TimeSpan.Parse(_timesheetCreateModel.Hours).TotalHours,
            Customer = _timesheetEntities.Customers.Find(Guid.Parse(_timesheetCreateModel.CustomerId)),
            Date = _timesheetCreateModel.Date,
            Paid = _timesheetCreateModel.Paid
        };

        _timesheetEntities.TimesheetItems.Add(timesheet);
        _timesheetEntities.SaveChanges();

        await OnTimesheetCreated.InvokeAsync("s");

        await _jsRuntime.InvokeAsync<bool>("closeDialog", "modal-create-timesheet");

        Cleanup();
    }

    private void Cleanup()
    {
        _customers.Clear();
        _timesheetEntities.Customers.OrderBy(c => c.Name).ToList().ForEach(c => { _customers.Add((c.Id, c.Name)); });

        _timesheetCreateModel = new TimesheetCreateModel();
        StateHasChanged();
    }

    public async Task OnShown()
    {
        _timesheetCreateModel.Date = DateTime.Now.ToString("yyyyMMdd");
        await _jsRuntime.InvokeAsync<bool>("initDatePicker", "ctrlDatePicker");
    }

    private async Task ShowDatePicker()
    {
        await _jsRuntime.InvokeAsync<bool>("toggleDatePicker", "ctrlDatePicker");
    }

    private async Task OnDateChanged()
    {
    }

}