@using System.Globalization
@using Microsoft.EntityFrameworkCore
@using TC.TimeSheet.Web.Data.EF
@inject IJSRuntime _jsRuntime
@inject TimesheetEntities _entities

<div class="col-lg-12">
    <div class="card">
        <div class="card-header border-0">
            <div class="d-flex justify-content-between">
                <h3 class="card-title">@_monthLabel</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex">
                <p class="d-flex flex-column">
                    <span class="text-bold text-lg">€ @_currentTotalAmount</span>
                    <span>Guadagno</span>
                </p>
                @* <p class="ml-auto d-flex flex-column text-right"> *@
                @*     <span class="text-success"> *@
                @*         <i class="fas fa-arrow-up"></i> 12.5% *@
                @*     </span> *@
                @*     <span class="text-muted">Since last week</span> *@
                @* </p> *@
            </div>
            <!-- /.d-flex -->

            <div class="position-relative mb-4">
                <canvas id="visitors-chart" height="200"></canvas>
            </div>

            <div class="d-flex flex-row justify-content-end">
                <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> Questo mese
                </span>
            </div>
        </div>
    </div>
</div>

@code{

    private string _currentTotalAmount, _monthLabel;

    protected override async void OnInitialized()
    {
        var monthDays = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);

        var dateRange = new List<string>();
        Enumerable.Range(1, monthDays).ToList().ForEach(d => { dateRange.Add($"{DateTime.Now.Year}{DateTime.Now.Month:00}{d:00}"); });

        var monthTimesheets = _entities.TimesheetItems.Where(t => dateRange.Contains(t.Date)).ToList();

        decimal amount = 0;

        var dailyAmounts = Enumerable.Range(1, monthDays).Select(d =>
        {
            var date = $"{DateTime.Now.Year}{DateTime.Now.Month:00}{d:00}";

            amount += monthTimesheets.Where(mt => mt.Date == date).Sum(t => t.Hours * t.Customer.AmountPerHour);

            return amount;
        }).ToList();

        _currentTotalAmount = dailyAmounts.Last().ToString("0.#");
        _monthLabel = $"{DateTimeFormatInfo.CurrentInfo.GetMonthName(DateTime.Now.Month)} {DateTime.Now.Year}";
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        var monthDays = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);

        var dateRange = new List<string>();
        Enumerable.Range(1, monthDays).ToList().ForEach(d => { dateRange.Add($"{DateTime.Now.Year}{DateTime.Now.Month:00}{d:00}"); });

        var monthTimesheets = _entities.TimesheetItems.Include(t => t.Customer).OrderBy(t => t.Date)
            .Where(t => dateRange.Contains(t.Date)).ToList();

        decimal totalAmount = 0;

        var models = monthTimesheets.GroupBy(t => t.Date).Select(t =>
        {
            var model = new
            {
                Day = int.Parse(t.Key.Substring(6)),
                TotalAmount = totalAmount += t.Sum(tt => tt.Hours * tt.Customer.AmountPerHour)
            };

            return model;
        }).ToList();
        
//        var model = Enumerable.Range(1, monthDays).Select(d =>
//        {
//            var date = $"{DateTime.Now.Year}{DateTime.Now.Month:00}{d:00}";
//
//            totalAmount += monthTimesheets.Where(mt => mt.Date == date).Sum(t => t.Hours * t.Customer.AmountPerHour);
//
//            return totalAmount;
//        }).ToList();

        //var model = new {daysInMonth = Enumerable.Range(1, monthDays).ToList(), DailyAmounts = dailyAmounts};

        await _jsRuntime.InvokeAsync<bool>("timesheetMonthlyChart", new {DailyAmounts = models});
    }

}