﻿<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="/" class="brand-link">
        <img src="/dist/img/timesheet-48.png"
             alt="Timesheet"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Ore lavoro</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/dist/img/avatar3.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <NavLink href="/" class="d-block">Dami</NavLink>                
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/customers" class="nav-link" onclick="collapseNavMenu()">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Clienti</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/timesheet" class="nav-link" onclick="collapseNavMenu()">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>Ore</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/timesheetreport" class="nav-link" onclick="collapseNavMenu()">
                        <i class="nav-icon fas fa-envelope"></i>
                        <p>Report</p>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</aside>